In [1]:
import numpy as np
import pandas as pd

In [2]:
d1 = pd.read_csv('../data/korean-idol.csv')
d2 = pd.read_csv('http://bit.ly/ds-korean-idol-2')
d2

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
3      뷔  3050    4
4     화사  4300    3
5     정국  2900    5
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

# 10-1. DataFrame 합치기 (concat)

### Row 기준으로 합치기

In [3]:
d1_copy = d1.copy()

In [6]:
pd.concat([d1, d1_copy])
d_concat

NameError: name 'd_concat' is not defined

In [7]:
d_concat.reset_index()

NameError: name 'd_concat' is not defined